.login{
    padding: 1rem;
}

h1{
    margin-bottom: 1.5rem;
}

.logindata{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 5rem;
    /* align-items: space; */
    justify-content: space-between;
    /* background-color: red; */
    margin: auto;
}

@media (min-width:1300px)
{
    .logindata{
        width: 23rem;
    }
}

@media (max-width:991px)
{
    .logindata{
        width: 50%;
    }
}

@media (max-width:500px)
{
    .logindata{
        width: 70%;
    }
}