.onepostcontainer{
    background-color: rgb(224, 224, 224);
    padding: 1rem;
}
.onepost__extra{
    /* padding: 1rem;
    width: 17rem; */
    /* background-color: white; */
    /* width: 100%; */
}